@using SalamancaWeb.Models;
@model Inquery
@{
    Layout = null;
}

<div class="card">
    @using(Html.BeginForm("Delete", "Inquery", FormMethod.Post, new { @id = "formulario" }))
    {
        @Html.HiddenFor(m => m.idInquery)
        <div class="card-body">
            <p>¿Seguro que deseas eliminar la Consulta: <span class="font-weight-bold">@Model.person.names @Model.person.fatherLastname @Model.person.motherLastname </span>?</p>
            <p class="font-italic">*Se eliminaran todos los datos asociados a la Consulta.</p>
        </div>
        <div class="card-footer row">
            <div class="col-md-6">
                <button id="btnDelete" data-message="Eliminando Consulta!" type="submit" class="btn btn-primary btn-block"><i class="fas fa-trash"></i>  Eliminar</button>
            </div>
            <div class="col-md-6">
                <button data-dismiss="modal" class="btn btn-danger btn-block">Cancelar</button>
            </div>
        </div>
    }
</div>

<script src="~/Assets/model/actions/delete.js"></script>