@using SalamancaWeb.Models;
@model Country
@{
    ViewBag.Title = "Detalle del Pais";
    Layout = null;
}

<div class="card">
    <div class="card-body">
        <dl class="dl-horizontal">
            <div class="row">
                <div class="col-12">
                    <dt>ID</dt>
                    <dd>@Model.idCountry</dd>
                </div>
                <div class="col-12">
                    <dt>Nombre</dt>
                    <dd>@Model.name</dd>
                </div><div class="col-12">
                    <dt>Estado</dt>
                    <dd class="@(Model.status?"text-success":"text-danger") font-weight-bold">@(Model.status?"Activo":"Inactivo")</dd>
                </div>
            </div>
        </dl>
    </div>
</div>
