@using SalamancaWeb.Models;
@model AntecedentType
@{
    Layout = null;
}

<div class="card">
    @using(Html.BeginForm("Delete", "AntecedentType", FormMethod.Post, new { @id = "formulario" })) {
        @Html.HiddenFor(m => m.idAntecedentType)
        <div class="card-body">
            <p>¿Seguro que deseas eliminar el Pais:  <span class="font-weight-bold">@Model.name</span>?</p>
            <p class="font-italic">*Se eliminaran todos los datos asociados al Tipo de Antecedente.</p>
        </div>
        <div class="card-footer row">
            <div class="col-md-6">
                <button id="btnDelete" data-message="Eliminando Tipo de Antecedente!" type="submit" class="btn btn-primary btn-block"><i class="fas fa-trash"></i>  Eliminar</button>
            </div>
            <div class="col-md-6">
                <button data-dismiss="modal" class="btn btn-danger btn-block">Cancelar</button>
            </div>
        </div>
    }
</div>

<script src="~/Assets/model/actions/delete.js"></script>